body {
	padding:0px;
	margin:0px;
}

.block {
	padding: 20px;
	background-color: black;
	color: white;
	width: 100px;
	text-align: center;
}

/*.handle {
	width: 4px;
	height: 50px;
	background-color: red;
	cursor: pointer;
	margin-left: 68px;
}

.handle_wrap {
	height: 50px;	
}*/

#air {
	height: 570px;
	/*padding-top: 20px;*/
	background-color: #B4D7F4;
	
}

img {
	border: none;
}

.block_container {
	float: left;
	width: 140px;
	margin-left: 6px;
	margin-top:-400px;

}

a.selected {
	text-decoration: none;
	border: none;
}

#ground {
	padding: 20px;
	background-color: #5F3800;
	color: white;
}

#centerbox {
	height: 1024px;
	width: 876px;
}

#test {
	position: absolute;
	width: 100%;
	padding: 12px;
	background-color: white;
	z-index:200;
	text-align: center;
}

#cloud {
	/*border:5px solid red;*/
	position: absolute;
	left: 62%;
	top: 80px;
	margin-left:0px;
	width: 619px;
	height: 400px;
	/*background-color: green;*/
	background-image: url("../cloud_400.png");
	z-index:10;
	vertical-align:middle;
	text-align:center;
}
#cloud h3 {
	margin-top:100px;
}
#cloud a {
	text-decoration: none;
	color: #5F3800;
}

table {
	height: 100%;
	width: 100%;
	padding:0px;
	margin:0px;
	border: none;
	border-spacing: 0px;
}

tr,td {
	padding: 0px;
	margin: 0px;
	border: none;
}


.border {	
	position: relative;
	background-color: white;
	z-index:20;
	height: 1024px;
	width: 100%;
}

th.ground ,td.ground {
	text-align: left;
	border-right:1px solid black;
	border-bottom:1px solid black;
	padding: 4px;
}
#ground p,h3 {
		padding: 0px;
		margin: 0px;
}

#ground a {
	/*text-decoration: none;*/
	border: none;
	color: #B4D7F4;
}

