body {
	padding:0px;
	margin:0px;
}

.block {
	padding: 20px;
	background-color: black;
	color: white;
	width: 100px;
	text-align: center;
}

/*.handle {
	width: 4px;
	height: 50px;
	background-color: red;
	cursor: pointer;
	margin-left: 68px;
}

.handle_wrap {
	height: 50px;	
}*/

#air {
	height: 500px;
	padding-top: 20px;
	background-color: #B4D7F4;
	
}

.block_container {
	float: left;
	width: 140px;
	margin-left: 6px;
	margin-top:-400px;
	z-index:100;
}

#ground {
	padding: 20px;
	background-color: #5F3800;
	color: white;
}

#centerbox {
	position: absolute;
	left: 50%;
	margin-left:-440px;
	width: 876px;
}

#test {
	position: absolute;
	left: 50%;
	margin-left:-440px;
	width: 876px;
	padding: 12px;
	background-color: white;
	z-index:200;
}